.resume--container{
  grid-template-columns: repeat(2, 1fr);
  gap:1.875rem 
}

.timeline{
  border-radius: 10px;
  padding: 1.875rem;
  box-shadow: var(--shadow);
  background-color: whitesmoke;
}

.timeline--item{
  padding-left: 3.125rem;
  padding-bottom: 3.125rem;
  position: relative;
}

.timeline--item:last-child{
  padding-bottom: 0;
}
.timeline--item::before{
  content: '';
  width: 1px;
  height: 100%;
  background-color:hsl(43, 100%,68%);
  position: absolute;
  left: .6rem;
  top: .2rem;
}

.timeline--icon{
  position: absolute;
  left: -.1rem;
  top: .2rem;
  font-size: var(--h2-font-size);
  color: hsl(43, 100%, 68%);
  background-color: whitesmoke;
  padding:.2rem 0;
}

.timeline--year{
  font-size: var(--small-size);
  color: slategray;
}
.timeline--title{
  font-size: var(--h3-font-size);
  margin: .5rem 0;
  font-family: var(--grotesk--font);
}
.timeline--place{
  font-size: var(--normal-size);
  font-weight: 700;
  font-family: var(--grotesk--font);
  color: darkslateblue;
}
@media screen and (max-width:1024px) {
  .resume--container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
  }
  .timeline--item::before{
    left: .5rem;
  }
}

@media screen and (max-width:768px) {
  .resume--container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media screen and (max-width:350px) {
  .timeline--item {

    padding-left: 1.5rem;
  }
}