.aside{
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--body-color);
  border-right: 1px solid rgb(0, 0 ,0 , 0.05);
  min-height: 100vh;
  max-width: 110px;
  display: flex;
  padding: 2.5rem 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.nav-logo{
  text-align: center;
}
.nav--list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.nav--link{
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color .3s;
}
.nav--link:hover {
  color: hsl(43, 100%, 68%);
}
.nav-footer{
  font-size: var(--smaller-font-size);
  transform: rotate(180deg);
  /* writing-mode: vertical-rl; */
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
}