.aside{
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--body-color);
  border-right: 1px solid rgb(0, 0 ,0 , 0.05);
  min-height: 100vh;
  max-width: 110px;
  display: flex;
  padding: 2.5rem 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  /* display: none; */
}

.nav-logo{
  text-align: center;
}
.nav--list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.nav--link{
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color .3s;
}
.nav--link:hover {
  color: hsl(43, 100%, 68%);
}
.nav-footer{
  font-size: var(--smaller-font-size);
  transform: rotate(180deg);
  /* writing-mode: vertical-rl; */
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
}
.nav--toggle{
  position: fixed;
  top:1.25rem;
  left: 1.875rem;
  cursor: pointer;
  height: 40px;
  width: 45px;
  border: 1px solid slategray;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu{
  font-size: var(--h2-font-size);
  color: black;
}
@media screen and (max-width:1024px){
  .aside{
    left: -110px;
  }
}